<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- 1. Define a Content Type for your file format -->
   <extension
         id="com.simula.contenttype"
         name="Simula Source File"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="com.simula.contenttype"
            name="Simula Source File"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="sim"
            priority="high">
      </content-type>
   </extension>

   <!-- 2. Register your Language Server and bind it to the content type -->
   <extension
         id="com.simula.server"
         name="Simula Language Server"
         point="org.eclipse.lsp4e.languageServer">
      <server
            id="com.simula.server"
            label="Simula Language Server"
            class="simula.client.SimulaStreamConnectionProvider">
      </server>
      
      <contentTypeMapping
            contentType="com.simula.contenttype"
            id="com.simula.server"
            languageId="Simula">
      </contentTypeMapping>
   </extension>

</plugin>
